# App
PORT=3000

# Database [PostgreSQL]
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vaultpay

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ [Advanced Message Queuing Protocol]
RABBITMQ_URL=amqp://localhost:5672

# Paystack
PAYSTACK_SECRET_KEY=

# Brevo [SMTP / Email Service]
BREVO_API_KEY=

# OAuth [Open Authorization] - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# OAuth [Open Authorization] - GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback